@import './base.css';
@import './multiselect.scss';

/*h5 {*/ /*  background: #c6d081;*/ /*}*/

span,
p,
h1,
h2,
h3,
h4,
h5 {
  color: #333333;
}
.templ {
  background: #dfe4bd;
}
.scondButton {
  background: #15803d;
  border: none !important;
  color: white !important;
}

.multiselect {
  @apply border-2 rounded-sm outline-none border-gray-200 !important;
}

.multiselect.is-active {
  @apply shadow-none border-light-slate-gray-900 !important;
}
