#app {
  .multiselect {
    border-width: 1px !important;
  }
  .recipes-search {
    .multiselect {
      border: none;
    }
  }
  .header-recipe-search {
    .multiselect {
      .multiselect-search {
        @apply bg-zinc-800;
        border-radius: 0;
        color: white;
      }
    }
  }
  .multiselect-dropdown {
    overflow-y: auto !important;
    border-radius: 0;
  }

  .multiselect {
    @apply border-2 rounded-sm outline-none border-gray-200 #{!important};
  }

  .multiselect.is-active {
    @apply shadow-none border-light-slate-gray-900 #{!important};
  }
}
